---
import { HelloComponent } from '../components/hello.component';

const helpText = "Helping biing";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<HelloComponent client:visible helpText={helpText}/>
	</body>
</html>
